h1{
	text-align: center;
	color: white;
}
body {
	min-height: 100vh;
	width: 100%;
	background-image: url(kali.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	
}
a.home{
	float: left;
}
a.home1{
	float: left;
}
a.home2{
	float: left;
}
a.home3{
	float: left;
}
a.home4{
	float: left;
}
a.home5{
	float: left;
}

 a{
	padding: 3% 5%;
    color:white;
    text-decoration: none;
	justify-content: space-between;
	align-items: center;
  } 
  
h3{
	color: white;
	font-size:x-large;
}
footer{
	color: white;
}


p{
	color: white;
	font-size:larger;
}

.image{
	width:"200";
	height:"200";
}